<nav class="navbar navbar-dark bg-dark bg-transparent justify-content-center">
  <form class="form-inline" id="add-sushi" method="post">
    <label class="sr-only" for="add-sushi-name">Add Sushi</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="add-sushi-name" placeholder="Add Sushi...">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="m-e" value="0">
      <label class="form-check-label text-white" for="inlineRadio1">Order</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="m-e" value="1">
      <label class="form-check-label text-white" for="inlineRadio2">Just Finished</label>
    </div>
    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Add Sushi</button>
  </form>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center text-white mt-5 mb-5">
      <h1 class="display-1">Sushi Bar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card bg-transparent">
        <div class='card-header text-center text-white'>
          Menu
        </div>
        <div class="card-body text-center text-white">
          <ul class="list-group-flush">
            {{#each Sushi}}
              {{#unless mindfully_eaten}}
                {{> sushi-block mindfully_eaten=true}}
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div class="card bg-transparent">
        <div class='card-header text-center text-white'>
          Ordered
        </div>
        <div class="card-body text-center text-white">
          <ul class="list-group-flush">
            {{#each Sushi}}
              {{#if mindfully_eaten}}
                {{> sushi-block mindfully_eaten=false}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>